.ace-multi-cursor {
  position: absolute;
  pointer-events: auto;
  z-index: 10;
  background: lightgreen;
}

.ace-multi-selection {
  position: absolute;
  pointer-events: auto;
  z-index: 10;
  opacity: 0.3;
}

.ace-radar-view {
  position: relative;
  min-width: 6px;
}

.ace-radar-view-scroll-indicator {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 4px;
  cursor: pointer;
  border-style: double;
  border-width: 3px;
}

.ace-radar-view-cursor-indicator {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid black;
}

.ace-radar-view-wrapper {
  position: relative;
  float: left;

  height: 100%;
  width: 6px;

  margin-right: 4px;
}
